$tablet: 1000px;
$mobile-large: 850px;
$mobile-medium-large: 800px;
$mobile-medium: 600px;
$mobile: 500px;

$hero-inner-width: 1212px;
$content-width: 1160px;

$color-white: #fff;
$color-black-transparent: rgba(0, 0, 0, 0.7);

$color-paddletail-black: #212529;
$color-gray: #21252A;
$color-osu-orange: #d73f09;
$color-gold: #D3832B;
$color-yellow: #FFB500;
$color-blue-light: #C6DAE7;
$color-blue-medium: #006A8E;
$color-blue-dark: #003B5C;

$stratum: "Stratum2Web", sans-serif;
$open-sans: "Open Sans", sans-serif;
