.black-topographical-section {
  background-color: $color-black;
  background-image: url('../images/topographical-map.svg');
  background-repeat: no-repeat;
  background-position: calc(50% - 240px) 260px;
  color: $color-white;
  .block--type-content-with-image .field--name-field-content-with-image-cta a {
    color: $color-yellow;
    background-image: url('../images/arrow-right-yellow.svg');
    &:hover {
      text-decoration-color: $color-yellow;
    }
  }
}