$color-white: #fff;
$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, 0.7);

$color-offblack: #212529;
$color-gray: #21252A;
$color-red: #D73F09;
$color-orange: #D3832B;
$color-yellow: #FFB500;
$color-blue-light: #C6DAE7;
$color-blue-medium: #006A8E;
$color-blue-dark: #003B5C;
$color-tan: #7A6855;