.osu-custom-blocks .layout-content {
  .p-2 {
    padding: 0px !important;
  }

  .mb-1 {
    margin-bottom: 0px !important;
  }

  .mt-1 {
    margin-top: 0px !important;
  }
}

@mixin theme-overrides {
  &.m-1 {
    margin: 0 !important;
  }
  &.p-1 {
    padding: 0 !important;
  }
}